body{
background:#0a192f;
font-family:Arial;
color:white;
text-align:center;
margin:0;
padding:0;
}

.title{
margin-top:40px;
font-size:40px;
}

.card-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:60px;
flex-wrap:wrap;
}

.card{
background:#112240;
padding:30px;
width:220px;
border-radius:12px;
box-shadow:0 4px 15px rgba(0,0,0,0.4);
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

button{
padding:10px 20px;
background:#1e90ff;
border:none;
border-radius:6px;
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#187bcd;
}

input{
margin-top:10px;
}
