body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background:#0a1f44;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

.container{
    text-align:center;
}

h1{
    font-size:40px;
    margin-bottom:10px;
}

p{
    font-size:18px;
    margin-bottom:30px;
}

button{
    padding:12px 25px;
    margin:10px;
    font-size:16px;
    border:none;
    border-radius:6px;
    background:#1e3a8a;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#2563eb;
}
